.custom-radio {
  display: block;
  position: relative;
  padding-left: pxToVW(28);
  margin-bottom: pxToVW(0);
  cursor: pointer;
  line-height: 1.8;
  font-size: pxToVW(22);
  object-fit: contain;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: pxToVW(18);
    width: pxToVW(18);

    background-color: $white;
    border: pxToVW(1) solid $bor-input;
    border-radius: 50%;
    transform: translateY(-50%);

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;

      width: pxToVW(10);
      height: pxToVW(10);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: $white;
    }
  }

  .label {
    font-size: pxToVW(13);
    line-height: 1.46;
    letter-spacing: pxToVW(-0.33);
    text-align: left;
    color: $color-black;
  }

  input:checked~.checkmark {
    background-color: $white;
    border-color: $blue-2;

    &:after {
      background-color: $blue-2;
    }
  }

  input:checked~.checkmark:after {
    display: block;
  }

  @media (min-width: 640px) {
    padding-left: responsiveTablet(28);
    font-size: responsiveTablet(22);

    .checkmark {
      height: responsiveTablet(18);
      width: responsiveTablet(18);

      &:after {
        width: responsiveTablet(10);
        height: responsiveTablet(10);
      }
    }

    .label {
      font-size: responsiveTablet(13);
    }
  }
}