%input-placeholder {
  color: $deep-cove;
  font-family: $Noto-Sans-Font;
  font-size: pxToVW(12);
}

%input-placeholder-gray {
  color: $color-input;
  font-weight: $light;
  font-family: $Noto-Sans-Font;
  font-size: pxToVW(12);
}